<!-- <div class="card border-success mb-3 justify-content-center align-items-center" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Developer</div>
    <div class="card-body text-success">
      <h5 class="card-title">Neela Danagal</h5>
      <p class="card-text">This web application developed using Angular.</p>
      <p>Click <a href="https://github.com/NeelaD09">Github</a> to check code.</p>
    </div>
    <div class="card-footer bg-transparent border-success">Email - Neela.Danagal@gmail.com</div>
  </div> -->

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div
          class="card flex-row my-4 border-7 shadow rounded-3 overflow-hidden"
        >
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-2 fs-3">
              <b> Neela Danagal </b>
            </h5>
            <hr />
            <h5 class="card-title text-center mb-3 fw-light fs-5">
              <b> Angular Developer </b>
            </h5>
            <p>
              <b> Github Code - </b>
              <a href="https://github.com/NeelaD09" class="link-success"
                >Click here</a
              >
            </p>
            <p>
              <b> Email - </b>
              <a href="mailto:Neela.Danagal@gmail.com">
                Neela.Danagal@gmail.com
              </a>
            </p>
            <!-- <div class="card-footer bg-transparent border-success">
              Email - Neela.Danagal@gmail.com
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
