<app-authnavbar></app-authnavbar>

<body>
  <section>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4 bgcolor">
            <div class="card-body text-center">
              <img
                src="../../../assets/Profile_Pic.jpg"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <hr>
              <div class="card-body p-0">
                <ul class="list-group list-group-flush rounded-3">
                  <li
                    class="list-group-item d-flex justify-content-center align-items-center">
                    <p class="mb-0"><b>Connections</b></p>
                  </li>
                  <hr>
                  <li
                    class="list-group-item d-flex justify-content-center align-items-centerr">
                    <p class="mb-0"><b>Posts</b></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Add content here-->
      </div>
    </div>
  </section>
</body>

