<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div
          class="card flex-row my-5 border-7 shadow rounded-3 overflow-hidden"
        >
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-2">Login</h5>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Enter Your username"
                  formControlName="username"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid':
                      isUserFormSubmitted && userFormControls['username'].errors
                  }"
                  autofocus
                />
                <label for="floatingInputUsername">Username</label>
                <div
                  *ngIf="
                    isUserFormSubmitted && userFormControls['username'].errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="userFormControls['username'].errors['required']">
                    UserName is required
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Enter Your password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      isUserFormSubmitted && userFormControls['password'].errors
                  }"
                />
                <label for="floatingPassword">Password</label>
                <div
                  *ngIf="
                    isUserFormSubmitted && userFormControls['password'].errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="userFormControls['password'].errors['required']">
                    Password is required
                  </div>
                </div>
              </div>

              <div class="d-grid mb-2">
                <button
                  class="btn btn-lg btn-success btn-login fw-bold text-uppercase"
                  type="submit"
                  [disabled]="!(loginForm.touched && loginForm.valid)"
                >
                  Login
                </button>
              </div>

              <a
                routerLink="/forgotPassword"
                class="d-block text-center mt-2 small"
                >Forgot Password</a
              >

              <a routerLink="/registration" class="d-block text-center mt-2 small"
                >Don't Have an account? Sign up</a
              >

              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
