<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div
          class="card flex-row my-4 border-7 shadow rounded-3 overflow-hidden"
        >
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-2">Registration</h5>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Enter First Name"
                  formControlName="firstName"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid':
                      isUserFormSubmitted && userFormControls['firstName'].errors
                  }"
                  autofocus
                />
                <label for="floatingInputUsername">FirstName</label>
                <div
                  *ngIf="
                    isUserFormSubmitted && userFormControls['firstName'].errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="userFormControls['firstName'].errors['required']">
                    First Name is required
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Enter Last Name"
                  formControlName="lastName"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid':
                      isUserFormSubmitted && userFormControls['lastName'].errors
                  }"
                  autofocus
                />
                <label for="floatingInputUsername">LastName</label>
                <div
                  *ngIf="
                    isUserFormSubmitted && userFormControls['lastName'].errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="userFormControls['lastName'].errors['required']">
                    Last Name is required
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="dob"
                  placeholder="Enter DOB"
                  autocomplete="off"
                  formControlName="dob"
                  [ngClass]="{
                    'is-invalid':
                      isUserFormSubmitted && userFormControls['dob'].errors
                  }"
                  autofocus
                />
                <label for="floatingInputUsername">Date of Birth</label>
                <div
                  *ngIf="
                    isUserFormSubmitted && userFormControls['dob'].errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="userFormControls['dob'].errors['required']">
                    Date of Birth is required
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': isUserFormSubmitted && userFormControls['dob'].errors }">
                  <option value="">Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
              </select>
                <label for="floatingInputUsername">Gender</label>
                <div
                  *ngIf="
                    isUserFormSubmitted && userFormControls['dob'].errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="userFormControls['dob'].errors['required']">
                    Gender
                  </div>
                </div>
              </div>
              
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Enter Your email"
                  autocomplete="off"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid':
                      isUserFormSubmitted && userFormControls['email'].errors
                  }"
                />
                <label for="floatingInputEmail">Email address</label>
                <div
                  *ngIf="
                    isUserFormSubmitted && userFormControls['email'].errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="userFormControls['email'].errors['required']">
                    Email is required
                  </div>
                  <div *ngIf="userFormControls['email'].errors['email']">
                    Enter a valid email address, e.g., john@example.com
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Enter Password"
                  autocomplete="off"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      isUserFormSubmitted && userFormControls['password'].errors
                  }"
                />
                <label for="floatingPassword">Password</label>
                <div
                  *ngIf="
                    isUserFormSubmitted && userFormControls['password'].errors
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="userFormControls['password'].errors['required']">
                    Password is required
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="confirmpassword"
                  placeholder="Enter Confirm Password"
                  formControlName="confirmpassword"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid':
                      isUserFormSubmitted &&
                      userFormControls['confirmpassword'].errors
                  }"
                />
                <label for="floatingPasswordConfirm">Confirm Password</label>
                <div
                  *ngIf="
                    isUserFormSubmitted &&
                    userFormControls['confirmpassword'].errors
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="
                      userFormControls['confirmpassword'].errors['required']
                    "
                  >
                    Confirm Password is required
                  </div>
                  <div
                    *ngIf="
                      userFormControls['confirmpassword'].errors['mustMatch']
                    "
                  >
                    Confirm Password should match
                  </div>
                </div>
              </div>

              <input
                ng-model="orders"
                id="orders"
                value=""
                hidden="true"
                formControlName="orders"
                ng-list
              />

              <div class="form-group login-group-checkbox">
                <input type="checkbox" id="terms" name="lg_remember" />
                <label for="terms">
                  &nbsp; I accept the Terms of Use & Privacy Policy</label
                >
              </div>

              <br />

              <div class="d-grid mb-2">
                <button
                  class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                  type="submit"
                  [disabled]="
                    !(registrationForm.touched && registrationForm.valid)
                  "
                >
                  Register
                </button>
              </div>

              <a routerLink="/login" class="d-block text-center mt-2 small"
                >Already Have an account? Sign In</a
              >

              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
